@model Shop.Web.Models.Home.HomeIndexModel

<div class="container body-content">

    @Html.Partial("SearchHeader")

    <div class="row frontPageContent">
        <h3 id="latestFoods">Preferred products</h3>
        <table class="table table-hover" id="latestFoodsTable">
            <tbody>
                @foreach (var food in Model.FoodsList)
                {
                    <tr>
                        <td>
                            @Html.Partial("FoodSummary", food)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
